.enjoy {
	height: 10.27rem;
	width: 100%;
	background-size: cover;
	background: url(../img/baby.png) no-repeat center center;
	display: flex;
	-webkit-background-size: cover;
}
.english,.chinese {
	height: 9.27rem;
	width: 100%;
	background: #5cb85c;
	border-color: #4cae4c;
	cursor: pointer;
	border-radius: 0.42rem;
	border: 1px solid transparent;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
	position: relative;
}
.english p {
	line-height: 8.574rem;
	font-size: 3.15rem;
	color: #fff;
	text-align: center;
}
.chinese {
	background: #d9534f;
	border-color: #d43f3a;
}
.chinese p {
	line-height: 8.574rem;
	font-size: 2.75rem;
	color: #fff;
	text-align: center;
}
.btn-group {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.btn {
	display: table-cell;
	float: none;
	width: 1%;
	color: #fff;
	position: relative;
	font-size: 1.15rem;
	line-height: 2.15rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 0.23rem;
	cursor: pointer;
	outline: none !important;
	box-shadow: none !important;
}
.btn-pre {
	background: #d9534f;
	border-color: #D43F3A;
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-random {
	background: #5bc0de;
	border-color: #46b8da;
	border-radius: 0;
}
.btn-next {
	background: #5cb85c;
	border-color: #4cae4c;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.footer {
	position: fixed;
	bottom: 0;
}

.hide {
	display: none;
}
.english .middle-font {
	font-size: 2.15rem;
}
.play {
	height: 1.47rem;
	width: 1.47rem;
	background-size: cover;
	background: url(../img/play.png) no-repeat center center;
	display: flex;
	-webkit-background-size: cover;
	left: 21.5rem;
	bottom: 1.1rem;
	position: relative;
}