<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no"/>
		<title>秦先生的英文宝典</title>
	</head>
	<link rel="stylesheet" type="text/css" th:href="@{css/common.css?v=3}"/>
	<script th:src="@{js/jquery.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<body>
		<div class="ape-container">
			<div class="ape-banner-text">
				<p class="ape-big-text">秦式宝典</p>
				<hr>
				<p class="ape-middle-text">十年磨一剑</p>
			</div>
			<table class="ape-menu-table" width="100%">
				<tr>
					<td class="ape-first-td">
						<i class="ape-menu ape-collect"></i>
					</td>
					<td class="ape-second-td">
						<i class="ape-menu ape-error-book"></i>
					</td>
				</tr>
				<tr>
					<td class="ape-three-td">
						<i class="ape-menu ape-test"></i>
					</td>
					<td>
						<i class="ape-menu ape-study"></i>
					</td>
				</tr>
			</table>
			<ul class="ape-foot-menu">
				<li>
					<i></i><span>首页</span>
				</li>
				<li></li>
				<li>
					<i></i><span>我的</span>
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript">
		$(function() {
			$("input").change(function() {
				var username = $("input[name='username']").val().trim();
				var password = $("input[name='password']").val();
				if ("" != username && "" != password) {
					$("button.ape-btn").removeClass("disabled");
				} else {
					$("button.ape-btn").addClass("disabled");
				}
			});
			
			$(".ape-btn").click(function() {
				if ($(this).hasClass("disabled")) {return false;}
				var username = $("#username").val().trim();
				var password = $("#password").val();
				var data = {"username":username, "password":password};
				$(".ape-form").submit();
			});
		});
	</script>
</html>