<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no"/>
		<title>秦先生的英文宝典</title>
	</head>
	<link rel="stylesheet" type="text/css" th:href="@{css/common.css?v=6}"/>
	<script th:src="@{js/jquery.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<body>
		<div class="ape-container">
			<div class="ape-banner-text">
				<p class="ape-big-text">秦式宝典</p>
				<hr>
				<p class="ape-middle-text">十年磨一剑</p>
			</div>
			<table class="ape-menu-table" width="100%">
				<tr>
					<td class="ape-first-td">
						<i class="ape-menu ape-collect"></i>
						<span>收藏录</span>
					</td>
					<td class="ape-second-td">
						<i class="ape-menu ape-error-book"></i>
						<span>错题本</span>
					</td>
				</tr>
				<tr>
					<td class="ape-three-td">
						<i class="ape-menu ape-test"></i>
						<span>小测试</span>
					</td>
					<td>
						<i class="ape-menu ape-study-active"></i>
						<span>背单词</span>
					</td>
				</tr>
			</table>
			<nav class="ape-foot-menu">
				<hr class="ape-foot-line">
				<a class="ape-menu-item" href="#">
					<span class="icon ape-home"></span>
					<span class="ape-menu-label">首页</span>
				</a>
				<a class="ape-menu-item" href="#">
					<span class="icon ape-study"></span>
					<span class="ape-menu-label">单词</span>
				</a>
				<a class="ape-menu-item" href="#">
					<span class="icon ape-my"></span>
					<span class="ape-menu-label">我的</span>
				</a>
			</nav>
		</div>
	</body>
	<script type="text/javascript">
		$(function() {
			$(".ape-foot-menu a").click(function() {
				if($(this).hasClass("active")) {
					$(this).removeClass("active");
					var span = $(this).children("span:first-child")[0];
					var cls = $(span).attr("class");
					$(span).attr("class", cls.substr(0,cls.lastIndexOf('-')));
				} else {
					$(this).addClass("active");
					var span = $(this).children("span:first-child")[0];
					var cls = $(span).attr("class");
					$(span).attr("class", cls+"-active");
				}
			});
		});
	</script>
</html>