<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="format-detection" content="telephone=no"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>新用户注册</title>
	</head>	
	<link rel="stylesheet" type="text/css" th:href="@{plugins/font-awesome/css/font-awesome.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{plugins/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/style-conquer.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/plugins.css}"/>
	<link rel="shortcut icon" href="favicon.ico" />
	<script th:src="@{js/jquery.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/register.js}"></script>
	<body>
		<div class="row">
			<div class="col-xs-12">
				<div class="page-breadcrumb breadcrumb">注册</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="portlet">
					<div class="portlet-body">
						<form id="memberForm">
							<div class="form-body">
								<div class="form-group">
									<label class="col-xs-4">用户名</label>
									<input type="text" class="form-control col-xs-8">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>
